:root{
    --search-bg: #f1f1f1;
    --white:#ffffff;
    --black:#1F1F1F;
    --sections-bg: #f4f4f4;
    --secondary-color:#FEEAE9;
    --primary-color:#FF136F;
    --btn-bg-color:linear-gradient(180deg, #FF589B 0%, #FF136F 100%);
    --cat1-bg-color:linear-gradient(152deg, #FF9C35 1.47%, #FFD019 97.17%);
    --cat2-bg-color: linear-gradient(180deg, #FF589B -0.01%, #FF136F 99.99%);
    --cat3-bg-color: linear-gradient(170deg, #4289FF -10.89%, #3F07F8 92.77%);
    --link-color:#FF9D00;
    --ash:#ccc;
    --body-font:#4e4e4e;
  


}


.body-font{
    color: #4E4E4E;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    text-align: center;
}
.link{
    color: #FF9D00;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
    
h1{
color: #1F1F1F;
font-family: Poppins;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
h2{
    color: #1F1F1F;
font-family: Poppins;
font-size: 36px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
h3{
    color: #1F1F1F;
font-family: Roboto;
font-size: 34px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
h4{
     color: #1F1F1F;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
h5{
color: #1F1F1F;
font-family: Poppins;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.cart-img{
    width: 336px;
height: 202px;
}
body{
    margin: 0 80px;
    font-family: poppins;
    background: var(--white);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    
}
.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav  img{
    height:26px ;
    width: 49px;
}
.nav-center{
    align-items: center;
}
.searchbar{
    width: 508px;
    height: 48px;
    color: var(--ash);
    font-size: 16px italic;
    font-family: poppins;
    border: none;
    background-color: var(--search-bg);
    border-radius: 4px;
    /* gap: 66px;
    position: relative; */
    text-indent: 16px;
}

/* i{
position: absolute;
   top: 72px;
   left: 72.5%;
   color: var(--ash);
   font-size: 20px;
} */
 .nav-right{
    display: flex;
 }
 .nav-right ul {
    list-style: none;
    display: flex;
    gap: 24px;
    
 }
 .nav-right ul li a {
   color: var(--black);
   font-family: poppins;
   font-size: 16px;
   text-decoration: none;
   color: var(--black);
   font-weight: normal;  
 }
 .nav-right ul li a:hover {
    color: var(--primary-color);
 }

 /* nav end here */
 

 /* hero start here */

 .hero{
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 36px;
     border-radius: 16px;
 }
 .hero-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width:560px ;
   
    
 }
 .body-font2{
    color: var(--body-font);
    font-family: poppins;
   
 }
 .hero-price{
    font-size: 40px;
    color: var(--primary-color);
    font-weight: 600;

 }
 .hero-cta{
    width: 168px;
    height: 52px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background:var(--btn-bg-color);
    border-radius: 6px;
 }
 .hero-img{
    max-width: 402px;
    max-height: 378px;
 }
 /* hero section end here */
 .category{
    display: flex;
    flex-direction: column;
    margin-top: 72px;
 }
 .carts{
    display: flex;
    justify-content: space-between;
    
 }
 .category1{
    background: var(--cat1-bg-color);
    height: 120px;
    width: 359px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
    border-radius: 8px;
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
 }
 .category2{
    background: var(--cat2-bg-color);
    height: 120px;
    width: 359px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
    border-radius: 8px;
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
 }
 .category3{
    background: var(--cat3-bg-color);
    height: 120px;
    width: 359px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:18px;
    border-radius: 8px;
    color: var(--white);
    font-size: 36px;
    font-weight: 600;
 }
 .cat-watch{
    height: 90px;
    width: 68px;
 }
 .cat-bag{
    height: 94px;
    width: 64px;
 }
 .cat-shoe{
    height: 152px;
    width: 97px;
 }
 .cart{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    
    width: 360px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:24px 16px;
    margin-right: 24px;
    border-radius: 8px;
 }
 .products{
    background:var(--sections-bg);
    padding: 24px 24px;
    
 }
 .shoe{
    display: flex;
    margin: 0px auto;
    
 }
 .sec-name{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
.see-more{
    color: var(--link-color);
    font-size:20px ;  
}
.cart-price{
    font-size: 24px;
    font-weight: 500;
}
.buy-btn{
    height: 52px;
    gap: 24px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 4px;
    text-align: center;  
}
button:hover{
    background-color: #afafaf62;
}
.cart:hover{
    background-color: rgb(255, 242, 242);
   
}
/* .carts .cart img{
    height: 290px;
    width: 320px;
} */

/* footer start from here */
footer{
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    margin-top:72px ;
}
#email{
    height: 72px;
    width: 520px;
    font-size:24px ;
    font-family: poppins;
    border: none;
    border-radius: 4px 0px 0px 4px;
    text-indent: 16px;

    
}
#email::placeholder{
    color: var(--ash);
}
#email-btn{
    border: none;
    height: 72px;
    width: 220px;
    background:var(--btn-bg-color);
    color: white;
    border-radius: 0px 4px 4px 0px;
    position: absolute;
    left:58%;
    font-size: 16px;
    font-weight: 500;
}
#email-btn:hover{
    background: #ac0042;
}
.email{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
